 {
  border: 1px solid;
}

html {
  scroll-snap-type: y mandatory;
}
body {
  box-sizing: border-box;
}
.nav-link {
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #fcc403;
}

.nav-link:hover {
  color: #c1213d;
}
.navbar-nav .nav-link.active {
  background-color: #fcc403;
  color: #fdfdfd;
}
.nav-link {
  padding-left: 12px;
}
.navbar {
  padding: 0;
  scroll-snap-align: start;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='hsl(350, 71%, 44%)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .container-fluid {
  padding: 8px;
}
.container-fluid {
  background-color: #fdfdfd;
}
@media (min-width: 768px) {
  #main-page,
  h1 {
    font-family: Bebas Neue;
    font-size: 240px;
    color: hsl(350, 71%, 44%);
    letter-spacing: 0.2em;
    height: 100vh;
    align-items: center;
    scroll-snap-align: start;
  }
}

@media (max-width: 767px) {
  #main-page {
    font-family: Bebas Neue;
    font-size: 180px;
    color: #c1213d;
    letter-spacing: 0.2em;
    height: 100vh;

    scroll-snap-align: start;
  }
}

@media (max-width: 576px) {
  #main-page {
    font-family: Bebas Neue;
    font-size: 120px;
    color: #c1213d;
    letter-spacing: 0.2em;
    height: 100vh;

    scroll-snap-align: start;
  }
}

#info1 {
  height: 100vh;
  background-color: #333333;
  font-family: Bebas Neue;
  scroll-snap-align: start;
}

.quote {
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fdfdfd;
}

.highlight {
  color: #fcc403;
  font-size: 128px;
}

.THE {
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fdfdfd;
}

div#program-page {
  scroll-snap-align: start end;
  background-color: #fdfdfd;
  color: #333333;
  font-size: large;
  font-weight: 500;
}

.program-title {
  font-family: Bebas Neue;
  font-size: 64px;
  letter-spacing: 0.1em;
  color: #c1213d;
}

#program-page .card-title {
  font-size: xx-large;
  font-weight: bold;
  padding: 12px 0 12px 0;
  color: #fcc403;
  text-align: center;
}

div#news {
  scroll-snap-align: start;
  background-color: #333333;
  color: #fdfdfd;
}

@media (min-width: 577px) {
  .news-options {
    font-size: 86px;

    font-family: Bebas Neue;
  }
}
@media (max-width: 576px) {
  .news-options {
    font-size: 48px;

    font-family: Bebas Neue;
  }
}

.news-title div {
  font-size: 36px;
  font-family: Bebas Neue;
  letter-spacing: 0.1em;
}
.news-title p {
  font-size: 16px;
  font-weight: bold;
}

.news-options a {
  text-decoration: none;
  color: #c1213d;
}

.navbar-toggler {
  border: none;
  color: #c1213d;
}

#footer {
  background-color: #fdfdfd;
  color: #333333;
  border-top: 10px solid #c1213d;
  font-size: small;
  scroll-snap-align: start;
}

#footer h2 {
  font-size: large;
  color: #fcc403;
}

#footer a,
li,
ul {
  color: #333333;
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.form {
  scroll-snap-align: start;
}
label {
  font-weight: bold;
}
.form-title {
  font-size: 64px;
  font-family: Bebas Neue;
  color: #c1213d;
}

.btn-primary {
  color: #fff;
  background-color: #fcc403;
  border-color: #fcc403;
}

.btn-primary:hover {
  color: #fff;
  background-color: #c1213d;
  border-color: #c1213d;
}
